In [2]:
# Dependencies and Setup

import pandas as pd
import numpy as np
import os
import csv

In [3]:
#St
#Read from csv file

in_states = os.path.join("..","Resources","BLS_state_M2018_dl.csv")
states_df = pd.read_csv(in_states)

in_nation = os.path.join("..","Resources","BLS national_M2018_dl.csv")
nation_df = pd.read_csv(in_nation)

#convert Total column to integer

nation_df['TOT_EMP'] = nation_df['TOT_EMP'].str.replace(',', '').astype(int)
states_df['TOT_EMP'] = nation_df['TOT_EMP'].str.replace(',', '').astype(int)

In [11]:
#convert Total column to integer

nation_df['TOT_EMP'] = nation_df['TOT_EMP'].str.replace(',', '').astype(int)
states_df['TOT_EMP'] = nation_df['TOT_EMP'].str.replace(',', '').astype(int)

In [14]:
nation_df.head()

,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,H_MEAN,A_MEAN,MEAN_PRSE,H_PCT10,H_PCT25,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
0,00-0000,All Occupations,total,144733270,0.1,24.98,"51,960",0.1,9.95,12.37,18.58,30.06,47.31,"20,690","25,740","38,640","62,510","98,410",NaN,NaN
1,11-0000,Management Occupations,major,7616650,0.2,58.44,"121,560",0.1,23.68,34.08,50.11,72.93,#,"49,260","70,880","104,240","151,700",#,NaN,NaN
2,11-1000,Top Executives,minor,2535640,0.3,61.66,"128,240",0.2,20.86,31.73,49.73,78.81,#,"43,400","66,000","103,450","163,930",#,NaN,NaN
3,11-1010,Chief Executives,broad,195530,0.7,96.22,"200,140",0.5,32.86,55.75,91.15,#,#,"68,360","115,960","189,600",#,#,NaN,NaN
4,11-1011,Chief Executives,detailed,195530,0.7,96.22,"200,140",0.5,32.86,55.75,91.15,#,#,"68,360","115,960","189,600",#,#,NaN,NaN

In [23]:
#National - Majors Only

#nation_major_df = nation_df.loc[nation_df["OCC_GROUP"] == "major", :].reset_index(drop="true")

#len(nation_major_df) = 22

#National - IT Only

# nation_df.loc[nation_df["OCC_CODE"] == "15-0000", :]    #.reset_index(drop="true")



nation_df[nation_df["OCC_CODE"].str.contains("15-")] 

# sub ='15-'
  
# # start var 
# start = 1
  
# # creating and passsing series to new column 
# data["Indexes"]= data["Name"].str.find(sub, start)

,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,H_MEAN,A_MEAN,MEAN_PRSE,H_PCT10,H_PCT25,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
126,15-0000,Computer and Mathematical Occupations,major,4384300,0.5,44.01,"91,530",0.4,21.41,29.64,41.51,55.98,71.12,"44,530","61,640","86,340","116,440","147,920",NaN,NaN
127,15-1100,Computer Occupations,minor,4214820,0.5,43.98,"91,480",0.4,21.32,29.58,41.50,56.02,71.15,"44,350","61,520","86,320","116,520","147,990",NaN,NaN
128,15-1110,Computer and Information Research Scientists,broad,30070,3.4,59.54,"123,850",1.3,33.28,44.06,56.91,71.86,88.38,"69,230","91,650","118,370","149,470","183,820",NaN,NaN
129,15-1111,Computer and Information Research Scientists,detailed,30070,3.4,59.54,"123,850",1.3,33.28,44.06,56.91,71.86,88.38,"69,230","91,650","118,370","149,470","183,820",NaN,NaN
130,15-1120,Computer and Information Analysts,broad,696030,0.9,45.67,"94,990",0.3,26.28,33.36,43.31,55.75,70.01,"54,670","69,390","90,080","115,970","145,620",NaN,NaN
131,15-1121,Computer Systems Analysts,detailed,587970,1.0,45.01,"93,610",0.3,26.14,33.04,42.66,54.55,68.38,"54,360","68,730","88,740","113,460","142,220",NaN,NaN
132,15-1122,Information Security Analysts,detailed,108060,2.0,49.26,"102,470",0.5,27.28,35.52,47.28,60.99,75.28,"56,750","73,890","98,350","126,870","156,580",NaN,NaN
133,15-1130,Software Developers and Programmers,broad,1666270,1.2,50.23,"104,480",0.7,27.20,36.07,48.04,61.70,76.78,"56,570","75,020","99,920","128,330","159,700",NaN,NaN
134,15-1131,Computer Programmers,detailed,230470,2.4,43.07,"89,580",1.3,23.46,30.97,40.52,52.46,64.73,"48,790","64,410","84,280","109,120","134,630",NaN,NaN
135,15-1132,"Software Developers, Applications",detailed,903160,1.6,51.96,"108,080",0.9,29.64,38.14,49.82,62.72,77.54,"61,660","79,340","103,620","130,460","161,290",NaN,NaN
136,15-1133,"Software Developers, Systems Software",detailed,405330,1.3,54.81,"114,000",0.5,32.09,41.16,52.89,67.09,80.27,"66,740","85,610","110,000","139,550","166,960",NaN,NaN
137,15-1134,Web Developers,detailed,127300,1.4,36.34,"75,580",0.7,18.24,24.51,33.38,45.68,59.84,"37,930","50,990","69,430","95,020","124,480",NaN,NaN
138,15-1140,Database and Systems Administrators and Networ...,broad,629020,0.7,45.09,"93,780",0.2,25.15,32.29,42.79,56.16,70.09,"52,300","67,160","89,000","116,820","145,790",NaN,NaN
139,15-1141,Database Administrators,detailed,110090,1.0,44.25,"92,030",0.3,24.20,31.83,43.31,55.80,66.50,"50,340","66,200","90,070","116,060","138,320",NaN,NaN
140,15-1142,Network and Computer Systems Administrators,detailed,366250,0.8,41.86,"87,070",0.3,24.51,30.78,39.45,50.47,62.85,"50,990","64,010","82,050","104,970","130,720",NaN,NaN
141,15-1143,Computer Network Architects,detailed,152670,1.6,53.43,"111,130",0.6,29.00,39.40,52.41,66.26,78.98,"60,310","81,960","109,020","137,820","164,280",NaN,NaN
142,15-1150,Computer Support Specialists,broad,812060,0.8,27.86,"57,950",0.3,15.56,19.69,25.70,33.84,44.30,"32,350","40,950","53,470","70,380","92,150",NaN,NaN
143,15-1151,Computer User Support Specialists,detailed,630700,0.8,26.46,"55,050",0.4,15.01,18.90,24.51,31.56,40.63,"31,220","39,310","50,980","65,640","84,510",NaN,NaN
144,15-1152,Computer Network Support Specialists,detailed,181360,1.4,32.72,"68,050",0.5,18.40,23.16,30.18,39.56,50.85,"38,270","48,160","62,770","82,290","105,770",NaN,NaN
145,15-1190,Miscellaneous Computer Occupations,broad,381380,0.9,44.88,"93,350",0.4,22.77,31.93,43.40,56.28,69.62,"47,350","66,410","90,270","117,070","144,820",NaN,NaN
146,15-1199,"Computer Occupations, All Other",detailed,381380,0.9,44.88,"93,350",0.4,22.77,31.93,43.40,56.28,69.62,"47,350","66,410","90,270","117,070","144,820",NaN,NaN
147,15-2000,Mathematical Science Occupations,minor,169480,1.5,44.63,"92,830",0.4,23.64,30.94,41.68,55.09,70.09,"49,180","64,360","86,700","114,590","145,790",NaN,NaN
148,15-2010,Actuaries,broad,20760,4.4,55.89,"116,250",1.2,29.40,36.88,49.46,68.15,89.47,"61,140","76,720","102,880","141,760","186,110",NaN,NaN
149,15-2011,Actuaries,detailed,20760,4.4,55.89,"116,250",1.2,29.40,36.88,49.46,68.15,89.47,"61,140","76,720","102,880","141,760","186,110",NaN,NaN
150,15-2020,Mathematicians,broad,2580,5.6,50.42,"104,870",1.7,27.48,35.33,48.99,60.61,77.19,"57,150","73,490","101,900","126,070","160,550",NaN,NaN
151,15-2021,Mathematicians,detailed,2580,5.6,50.42,"104,870",1.7,27.48,35.33,48.99,60.61,77.19,"57,150","73,490","101,900","126,070","160,550",NaN,NaN
152,15-2030,Operations Research Analysts,broad,104200,1.8,42.48,"88,350",0.5,22.50,29.46,40.09,52.73,65.51,"46,810","61,280","83,390","109,670","136,250",NaN,NaN
153,15-2031,Operations Research Analysts,detailed,104200,1.8,42.48,"88,350",0.5,22.50,29.46,40.09,52.73,65.51,"46,810","61,280","83,390","109,670","136,250",NaN,NaN
154,15-2040,Statisticians,broad,39920,2.0,44.52,"92,600",0.7,25.48,32.43,42.20,54.65,67.00,"53,000","67,440","87,780","113,670","139,350",NaN,NaN
155,15-2041,Statisticians,detailed,39920,2.0,44.52,"92,600",0.7,25.48,32.43,42.20,54.65,67.00,"53,000","67,440","87,780","113,670","139,350",NaN,NaN
156,15-2090,Miscellaneous Mathematical Science Occupations,detailed,2010,6.0,34.80,"72,390",3.2,14.65,18.06,27.50,42.80,71.00,"30,460","37,570","57,190","89,030","147,670",NaN,NaN
157,15-2090,Miscellaneous Mathematical Science Occupations,broad,2010,6.0,34.80,"72,390",3.2,14.65,18.06,27.50,42.80,71.00,"30,460","37,570","57,190","89,030","147,670",NaN,NaN

In [9]:
#organize the national data to plot 
nation_major_df.sort_values("TOT_EMP", ascending=False)

,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,H_MEAN,A_MEAN,MEAN_PRSE,H_PCT10,H_PCT25,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
16,43-0000,Office and Administrative Support Occupations,major,21828990,0.2,18.75,"38,990",0.1,10.65,13.11,17.19,22.75,29.48,"22,150","27,280","35,760","47,320","61,330",NaN,NaN
15,41-0000,Sales and Related Occupations,major,14542290,0.2,20.09,"41,790",0.2,9.10,10.63,13.55,22.87,38.16,"18,920","22,120","28,180","47,570","79,370",NaN,NaN
12,35-0000,Food Preparation and Serving Related Occupations,major,13374620,0.1,12.30,"25,580",0.2,8.49,9.33,11.09,13.59,17.96,"17,660","19,410","23,070","28,270","37,360",NaN,NaN
21,53-0000,Transportation and Material Moving Occupations,major,10244260,0.3,18.41,"38,290",0.4,9.94,11.87,15.74,21.96,29.75,"20,670","24,700","32,730","45,670","61,870",NaN,NaN
20,51-0000,Production Occupations,major,9115530,0.3,18.84,"39,190",0.2,10.66,12.89,16.86,22.82,30.03,"22,180","26,820","35,070","47,470","62,460",NaN,NaN
7,25-0000,"Education, Training, and Library Occupations",major,8779780,0.4,27.22,"56,620",0.5,10.99,15.65,23.89,33.91,46.67,"22,860","32,550","49,700","70,530","97,080",NaN,NaN
9,29-0000,Healthcare Practitioners and Technical Occupat...,major,8646730,0.3,39.42,"82,000",0.2,16.25,22.91,31.94,45.69,67.12,"33,800","47,650","66,440","95,020","139,620",NaN,NaN
1,13-0000,Business and Financial Operations Occupations,major,7721300,0.3,36.98,"76,910",0.2,18.33,24.53,32.86,44.65,59.44,"38,130","51,020","68,350","92,870","123,640",NaN,NaN
0,11-0000,Management Occupations,major,7616650,0.2,58.44,"121,560",0.1,23.68,34.08,50.11,72.93,#,"49,260","70,880","104,240","151,700",#,NaN,NaN
18,47-0000,Construction and Extraction Occupations,major,5962640,0.2,24.62,"51,220",0.2,13.16,16.55,22.12,30.17,40.30,"27,380","34,420","46,010","62,760","83,820",NaN,NaN
19,49-0000,"Installation, Maintenance, and Repair Occupations",major,5628880,0.3,23.54,"48,960",0.1,12.43,16.15,21.89,29.31,37.57,"25,860","33,590","45,540","60,950","78,140",NaN,NaN
14,39-0000,Personal Care and Service Occupations,major,5451330,0.4,13.51,"28,090",0.2,8.86,10.21,11.74,14.64,20.23,"18,430","21,240","24,420","30,450","42,080",NaN,NaN
13,37-0000,Building and Grounds Cleaning and Maintenance ...,major,4421980,0.3,14.43,"30,020",0.2,9.24,10.71,12.91,16.81,22.14,"19,220","22,280","26,840","34,970","46,040",NaN,NaN
2,15-0000,Computer and Mathematical Occupations,major,4384300,0.5,44.01,"91,530",0.4,21.41,29.64,41.51,55.98,71.12,"44,530","61,640","86,340","116,440","147,920",NaN,NaN
10,31-0000,Healthcare Support Occupations,major,4117450,0.4,15.57,"32,380",0.2,10.21,11.77,14.30,18.04,23.05,"21,240","24,470","29,740","37,520","47,950",NaN,NaN
11,33-0000,Protective Service Occupations,major,3437410,0.4,23.36,"48,580",0.6,10.63,13.46,19.54,29.85,42.35,"22,110","28,000","40,640","62,090","88,090",NaN,NaN
3,17-0000,Architecture and Engineering Occupations,major,2556220,0.5,42.01,"87,370",0.3,21.33,28.72,38.55,51.81,66.98,"44,360","59,750","80,170","107,760","139,320",NaN,NaN
5,21-0000,Community and Social Service Occupations,major,2171820,0.4,23.69,"49,280",0.3,12.75,16.30,21.62,29.04,37.86,"26,520","33,910","44,960","60,390","78,740",NaN,NaN
8,27-0000,"Arts, Design, Entertainment, Sports, and Media...",major,1951170,0.5,28.74,"59,780",0.5,10.99,15.39,23.70,35.43,50.36,"22,850","32,010","49,290","73,690","104,740",NaN,NaN
4,19-0000,"Life, Physical, and Social Science Occupations",major,1171910,0.7,36.62,"76,160",0.4,16.85,22.74,31.77,45.77,61.22,"35,050","47,310","66,070","95,210","127,340",NaN,NaN
6,23-0000,Legal Occupations,major,1127900,0.4,52.25,"108,690",0.6,18.04,25.47,38.85,68.12,#,"37,510","52,970","80,810","141,700",#,NaN,NaN
17,45-0000,"Farming, Fishing, and Forestry Occupations",major,480130,1.3,14.49,"30,140",0.5,10.41,11.05,12.20,16.08,22.27,"21,650","22,980","25,380","33,460","46,330",NaN,NaN

In [44]:
nation_major_df.head()

,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,H_MEAN,A_MEAN,MEAN_PRSE,H_PCT10,H_PCT25,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
0,11-0000,Management Occupations,major,7616650,0.2,58.44,"121,560",0.1,23.68,34.08,50.11,72.93,#,"49,260","70,880","104,240","151,700",#,NaN,NaN
1,13-0000,Business and Financial Operations Occupations,major,7721300,0.3,36.98,"76,910",0.2,18.33,24.53,32.86,44.65,59.44,"38,130","51,020","68,350","92,870","123,640",NaN,NaN
2,15-0000,Computer and Mathematical Occupations,major,4384300,0.5,44.01,"91,530",0.4,21.41,29.64,41.51,55.98,71.12,"44,530","61,640","86,340","116,440","147,920",NaN,NaN
3,17-0000,Architecture and Engineering Occupations,major,2556220,0.5,42.01,"87,370",0.3,21.33,28.72,38.55,51.81,66.98,"44,360","59,750","80,170","107,760","139,320",NaN,NaN
4,19-0000,"Life, Physical, and Social Science Occupations",major,1171910,0.7,36.62,"76,160",0.4,16.85,22.74,31.77,45.77,61.22,"35,050","47,310","66,070","95,210","127,340",NaN,NaN

In [15]:
# states_df.head()

states_major_df = states_df.loc[states_df["OCC_GROUP"] == "major", :].reset_index(drop="true")

states_major_df.sort_values("TOT_EMP")

,AREA,ST,STATE,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,JOBS_1000,LOC_Q,...,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
259,15,HI,Hawaii,45-0000,"Farming, Fishing, and Forestry Occupations",major,"1,000",8.2,1.551,0.47,...,17.52,22.62,28.49,"22,360","27,560","36,440","47,040","59,260",NaN,NaN
89,6,CA,California,13-0000,Business and Financial Operations Occupations,major,"1,021,960",0.7,60.088,1.13,...,35.62,48.05,63.89,"41,100","55,240","74,090","99,930","132,880",NaN,NaN
95,6,CA,California,25-0000,"Education, Training, and Library Occupations",major,"1,028,190",0.7,60.454,1.00,...,27.12,41.99,53.80,"28,840","37,230","56,410","87,330","111,900",NaN,NaN
765,38,ND,North Dakota,45-0000,"Farming, Fishing, and Forestry Occupations",major,"1,040",12.6,2.498,0.75,...,17.08,20.91,25.49,"22,140","27,650","35,520","43,490","53,020",NaN,NaN
213,12,FL,Florida,41-0000,Sales and Related Occupations,major,"1,058,680",0.9,122.979,1.22,...,12.65,20.98,34.22,"18,620","20,440","26,320","43,630","71,180",NaN,NaN
109,6,CA,California,53-0000,Transportation and Material Moving Occupations,major,"1,160,680",1.1,68.244,0.96,...,15.74,22.42,29.98,"23,320","25,650","32,740","46,620","62,350",NaN,NaN
958,48,TX,Texas,35-0000,Food Preparation and Serving Related Occupations,major,"1,161,420",0.5,95.876,1.04,...,9.92,12.54,17.10,"16,670","18,040","20,630","26,090","35,570",NaN,NaN
149,9,CT,Connecticut,45-0000,"Farming, Fishing, and Forestry Occupations",major,"1,180",14.3,0.709,0.21,...,14.48,19.87,25.65,"22,440","24,320","30,130","41,340","53,360",NaN,NaN
985,49,UT,Utah,45-0000,"Farming, Fishing, and Forestry Occupations",major,"1,250",10.2,0.857,0.26,...,13.20,17.64,23.50,"17,860","21,480","27,460","36,700","48,880",NaN,NaN
1175,78,VI,Virgin Islands,29-0000,Healthcare Practitioners and Technical Occupat...,major,"1,260",4.2,39.095,0.65,...,27.63,38.86,57.16,"30,200","40,540","57,470","80,830","118,900",NaN,NaN
961,48,TX,Texas,41-0000,Sales and Related Occupations,major,"1,276,460",0.7,105.373,1.05,...,13.40,23.28,39.59,"17,890","21,050","27,870","48,420","82,350",NaN,NaN
1184,78,VI,Virgin Islands,49-0000,"Installation, Maintenance, and Repair Occupations",major,"1,350",9.2,41.796,1.07,...,16.63,22.51,29.42,"22,890","27,480","34,580","46,820","61,180",NaN,NaN
1167,78,VI,Virgin Islands,13-0000,Business and Financial Operations Occupations,major,"1,360",4.5,42.257,0.79,...,24.06,31.72,41.84,"32,060","40,670","50,050","65,970","87,040",NaN,NaN
1073,54,WV,West Virginia,45-0000,"Farming, Fishing, and Forestry Occupations",major,"1,370",9.0,1.963,0.59,...,14.86,18.42,22.59,"20,250","23,540","30,920","38,320","46,980",NaN,NaN
1136,66,GU,Guam,39-0000,Personal Care and Service Occupations,major,"1,370",6.5,22.828,0.61,...,9.71,12.00,14.87,"18,330","18,990","20,200","24,970","30,940",NaN,NaN
1007,50,VT,Vermont,45-0000,"Farming, Fishing, and Forestry Occupations",major,"1,410",15.1,4.627,1.39,...,15.77,18.89,25.55,"23,040","25,200","32,800","39,290","53,150",NaN,NaN
214,12,FL,Florida,43-0000,Office and Administrative Support Occupations,major,"1,452,150",0.6,168.685,1.12,...,15.75,20.28,27.30,"20,950","25,840","32,760","42,190","56,790",NaN,NaN
720,36,NY,New York,43-0000,Office and Administrative Support Occupations,major,"1,480,630",0.6,157.755,1.05,...,19.01,26.30,34.17,"23,670","29,260","39,540","54,700","71,070",NaN,NaN
1142,66,GU,Guam,51-0000,Production Occupations,major,"1,500",4.6,24.850,0.39,...,12.48,18.62,25.15,"18,390","19,510","25,950","38,740","52,320",NaN,NaN
1179,78,VI,Virgin Islands,37-0000,Building and Grounds Cleaning and Maintenance ...,major,"1,510",6.8,46.918,1.54,...,11.40,13.77,16.97,"20,280","20,810","23,700","28,650","35,310",NaN,NaN
100,6,CA,California,35-0000,Food Preparation and Serving Related Occupations,major,"1,594,570",0.4,93.756,1.01,...,12.21,14.69,18.86,"22,470","23,490","25,400","30,560","39,220",NaN,NaN
919,46,SD,South Dakota,45-0000,"Farming, Fishing, and Forestry Occupations",major,"1,620",8.9,3.829,1.15,...,14.07,17.11,21.35,"22,090","25,220","29,260","35,600","44,400",NaN,NaN
1106,56,WY,Wyoming,23-0000,Legal Occupations,major,"1,630",5.7,6.049,0.78,...,28.83,39.77,59.21,"34,500","44,180","59,970","82,720","123,150",NaN,NaN
103,6,CA,California,41-0000,Sales and Related Occupations,major,"1,634,110",0.7,96.080,0.96,...,15.00,24.29,40.01,"22,830","24,560","31,190","50,530","83,220",NaN,NaN
435,23,ME,Maine,45-0000,"Farming, Fishing, and Forestry Occupations",major,"1,640",8.8,2.713,0.82,...,17.12,19.83,24.67,"22,940","29,050","35,600","41,260","51,310",NaN,NaN
1161,72,PR,Puerto Rico,45-0000,"Farming, Fishing, and Forestry Occupations",major,"1,690",9.6,1.998,0.60,...,9.11,10.85,14.74,"16,380","17,340","18,940","22,560","30,650",NaN,NaN
908,46,SD,South Dakota,23-0000,Legal Occupations,major,"1,720",8.2,4.064,0.52,...,30.15,42.47,70.27,"39,050","48,310","62,700","88,330","146,170",NaN,NaN
1183,78,VI,Virgin Islands,47-0000,Construction and Extraction Occupations,major,"1,780",11.6,55.073,1.34,...,19.71,25.66,30.83,"27,400","33,170","41,000","53,370","64,120",NaN,NaN
479,25,MA,Massachusetts,45-0000,"Farming, Fishing, and Forestry Occupations",major,"1,890",13.2,0.528,0.16,...,15.96,21.17,27.61,"24,340","26,810","33,200","44,040","57,430",NaN,NaN
589,30,MT,Montana,45-0000,"Farming, Fishing, and Forestry Occupations",major,"1,910",11.9,4.120,1.24,...,14.16,19.69,24.26,"18,760","21,150","29,450","40,950","50,450",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,20,KS,Kansas,25-0000,"Education, Training, and Library Occupations",major,"92,590",3.1,67.318,1.11,...,20.24,27.38,36.57,"20,550","27,030","42,100","56,950","76,070",NaN,NaN
719,36,NY,New York,41-0000,Sales and Related Occupations,major,"923,140",0.9,98.357,0.98,...,14.76,28.92,53.87,"21,860","23,740","30,700","60,160","112,050",NaN,NaN
852,42,PA,Pennsylvania,43-0000,Office and Administrative Support Occupations,major,"928,440",0.7,158.771,1.05,...,17.07,22.42,28.90,"21,060","26,970","35,500","46,630","60,110",NaN,NaN
19,1,AL,Alabama,49-0000,"Installation, Maintenance, and Repair Occupations",major,"93,170",1.5,47.931,1.23,...,20.88,28.05,35.28,"24,200","32,390","43,430","58,340","73,380",NaN,NaN
124,8,CO,Colorado,39-0000,Personal Care and Service Occupations,major,"93,270",2.2,35.591,0.94,...,12.29,16.59,23.79,"21,230","22,550","25,560","34,520","49,480",NaN,NaN
799,40,OK,Oklahoma,25-0000,"Education, Training, and Library Occupations",major,"93,310",2.2,58.523,0.96,...,18.00,23.14,30.22,"18,000","25,310","37,440","48,140","62,860",NaN,NaN
152,9,CT,Connecticut,51-0000,Production Occupations,major,"93,800",2.5,56.497,0.90,...,19.42,27.21,36.20,"24,220","29,750","40,390","56,600","75,290",NaN,NaN
373,20,KS,Kansas,53-0000,Transportation and Material Moving Occupations,major,"93,920",3.0,68.284,0.96,...,16.53,22.06,30.11,"20,400","26,070","34,390","45,880","62,630",NaN,NaN
171,10,DE,Delaware,45-0000,"Farming, Fishing, and Forestry Occupations",major,930,11.5,2.074,0.63,...,15.37,21.18,25.85,"21,110","25,420","31,960","44,050","53,770",NaN,NaN
210,12,FL,Florida,35-0000,Food Preparation and Serving Related Occupations,major,"933,780",0.7,108.470,1.17,...,10.16,13.42,18.44,"18,090","18,930","21,130","27,920","38,360",NaN,NaN
988,49,UT,Utah,51-0000,Production Occupations,major,"94,000",1.8,64.566,1.03,...,16.09,21.44,28.51,"21,730","26,410","33,470","44,600","59,300",NaN,NaN
46,4,AZ,Arizona,15-0000,Computer and Mathematical Occupations,major,"94,060",2.3,33.718,1.11,...,38.04,50.98,62.30,"39,980","55,630","79,130","106,040","129,590",NaN,NaN
415,22,LA,Louisiana,49-0000,"Installation, Maintenance, and Repair Occupations",major,"94,350",1.6,49.300,1.27,...,20.29,27.71,35.33,"23,710","31,340","42,200","57,640","73,490",NaN,NaN
1125,66,GU,Guam,17-0000,Architecture and Engineering Occupations,major,940,3.8,15.638,0.89,...,26.51,36.30,46.50,"29,860","41,340","55,150","75,500","96,710",NaN,NaN
899,45,SC,South Carolina,49-0000,"Installation, Maintenance, and Repair Occupations",major,"95,050",1.4,46.092,1.19,...,20.13,26.82,33.55,"24,150","31,430","41,870","55,790","69,790",NaN,NaN
989,49,UT,Utah,53-0000,Transportation and Material Moving Occupations,major,"95,240",2.0,65.417,0.92,...,16.12,21.91,28.49,"20,630","25,450","33,530","45,580","59,260",NaN,NaN
609,31,NE,Nebraska,41-0000,Sales and Related Occupations,major,"95,410",1.7,97.524,0.97,...,13.09,21.57,34.09,"19,920","21,710","27,230","44,850","70,920",NaN,NaN
1022,51,VA,Virginia,31-0000,Healthcare Support Occupations,major,"95,490",2.2,24.913,0.88,...,14.18,18.07,23.66,"20,340","24,100","29,490","37,590","49,210",NaN,NaN
102,6,CA,California,39-0000,Personal Care and Service Occupations,major,"953,830",1.0,56.083,1.49,...,12.10,14.73,20.89,"22,520","23,460","25,180","30,630","43,450",NaN,NaN
508,27,MN,Minnesota,15-0000,Computer and Mathematical Occupations,major,"96,020",2.4,33.484,1.11,...,40.26,52.14,62.94,"48,010","62,720","83,740","108,440","130,920",NaN,NaN
942,47,TN,Tennessee,47-0000,Construction and Extraction Occupations,major,"96,050",1.7,32.483,0.79,...,18.31,24.03,30.78,"25,110","30,460","38,080","49,990","64,020",NaN,NaN
773,39,OH,Ohio,17-0000,Architecture and Engineering Occupations,major,"96,100",2.1,17.741,1.00,...,36.07,47.14,59.47,"43,430","57,390","75,030","98,040","123,700",NaN,NaN
1132,66,GU,Guam,31-0000,Healthcare Support Occupations,major,960,6.6,16.032,0.56,...,12.72,14.83,18.60,"19,260","21,370","26,460","30,850","38,680",NaN,NaN
801,40,OK,Oklahoma,29-0000,Healthcare Practitioners and Technical Occupat...,major,"97,030",1.8,60.856,1.02,...,26.90,36.83,56.72,"29,150","39,940","55,950","76,600","117,970",NaN,NaN
153,9,CT,Connecticut,53-0000,Transportation and Material Moving Occupations,major,"97,860",2.7,58.947,0.83,...,16.82,22.95,29.34,"23,070","26,050","34,990","47,740","61,040",NaN,NaN
1180,78,VI,Virgin Islands,39-0000,Personal Care and Service Occupations,major,970,9.7,30.020,0.80,...,10.55,14.33,19.43,"20,180","20,190","21,940","29,800","40,410",NaN,NaN
1159,72,PR,Puerto Rico,41-0000,Sales and Related Occupations,major,"98,120",2.0,115.983,1.15,...,9.10,11.14,17.13,"16,330","17,310","18,930","23,180","35,620",NaN,NaN
381,21,KY,Kentucky,25-0000,"Education, Training, and Library Occupations",major,"98,450",1.3,52.093,0.86,...,24.01,29.39,36.16,"23,420","35,350","49,940","61,140","75,220",NaN,NaN
549,28,MS,Mississippi,53-0000,Transportation and Material Moving Occupations,major,"99,780",2.1,88.783,1.25,...,13.54,18.68,26.49,"17,920","21,300","28,160","38,850","55,100",NaN,NaN
88,6,CA,California,11-0000,Management Occupations,major,"996,830",0.6,58.610,1.11,...,57.43,82.15,#,"52,890","77,800","119,450","170,870",#,NaN,NaN