In [6]:
# Dependencies and Setup

import pandas as pd
import numpy as np
import os
import csv

In [7]:
#Input Data from BLS (Buruer of Labor Statistics on Occupation Types, Employee Counts, USA and States)
#Read from csv file

in_states = os.path.join("..","Resources","BLS_state_M2018_dl.csv")
states_df = pd.read_csv(in_states)

in_nation = os.path.join("..","Resources","BLS national_M2018_dl.csv")
nation_df = pd.read_csv(in_nation)

In [8]:
#Clean Data for field Total Employee count field for use

#convert null data represented by "**' to zeros
nation_df.loc[states_df["TOT_EMP"] == '**', "TOT_EMP"] = "0"
states_df.loc[states_df["TOT_EMP"] == '**', "TOT_EMP"] = "0"

#convert Total column to integer
nation_df['TOT_EMP'] = nation_df['TOT_EMP'].str.replace(',', '').astype(int)
states_df['TOT_EMP'] = states_df['TOT_EMP'].str.replace(',', '').astype(int)

In [9]:
#National - Majors Only

nation_major_df = nation_df.loc[nation_df["OCC_GROUP"] == "major", :].reset_index(drop="true")

nation_major_count = len(nation_major_df)

#National - Pick One Occupation at the Major Group Level and store minor levels

#nation_major_pickone = nation_df.loc[nation_df["OCC_CODE"] == "15-0000", :].reset_index(drop="true")

nation_major_pickone = nation_df.loc[nation_df["OCC_CODE"].str.contains("15-"), :].reset_index(drop="true")

In [14]:
nation_major_pickone

,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,H_MEAN,A_MEAN,MEAN_PRSE,H_PCT10,H_PCT25,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
0,15-0000,Computer and Mathematical Occupations,major,4384300,0.5,44.01,"91,530",0.4,21.41,29.64,41.51,55.98,71.12,"44,530","61,640","86,340","116,440","147,920",NaN,NaN
1,15-1100,Computer Occupations,minor,4214820,0.5,43.98,"91,480",0.4,21.32,29.58,41.50,56.02,71.15,"44,350","61,520","86,320","116,520","147,990",NaN,NaN
2,15-1110,Computer and Information Research Scientists,broad,30070,3.4,59.54,"123,850",1.3,33.28,44.06,56.91,71.86,88.38,"69,230","91,650","118,370","149,470","183,820",NaN,NaN
3,15-1111,Computer and Information Research Scientists,detailed,30070,3.4,59.54,"123,850",1.3,33.28,44.06,56.91,71.86,88.38,"69,230","91,650","118,370","149,470","183,820",NaN,NaN
4,15-1120,Computer and Information Analysts,broad,696030,0.9,45.67,"94,990",0.3,26.28,33.36,43.31,55.75,70.01,"54,670","69,390","90,080","115,970","145,620",NaN,NaN
5,15-1121,Computer Systems Analysts,detailed,587970,1.0,45.01,"93,610",0.3,26.14,33.04,42.66,54.55,68.38,"54,360","68,730","88,740","113,460","142,220",NaN,NaN
6,15-1122,Information Security Analysts,detailed,108060,2.0,49.26,"102,470",0.5,27.28,35.52,47.28,60.99,75.28,"56,750","73,890","98,350","126,870","156,580",NaN,NaN
7,15-1130,Software Developers and Programmers,broad,1666270,1.2,50.23,"104,480",0.7,27.20,36.07,48.04,61.70,76.78,"56,570","75,020","99,920","128,330","159,700",NaN,NaN
8,15-1131,Computer Programmers,detailed,230470,2.4,43.07,"89,580",1.3,23.46,30.97,40.52,52.46,64.73,"48,790","64,410","84,280","109,120","134,630",NaN,NaN
9,15-1132,"Software Developers, Applications",detailed,903160,1.6,51.96,"108,080",0.9,29.64,38.14,49.82,62.72,77.54,"61,660","79,340","103,620","130,460","161,290",NaN,NaN
10,15-1133,"Software Developers, Systems Software",detailed,405330,1.3,54.81,"114,000",0.5,32.09,41.16,52.89,67.09,80.27,"66,740","85,610","110,000","139,550","166,960",NaN,NaN
11,15-1134,Web Developers,detailed,127300,1.4,36.34,"75,580",0.7,18.24,24.51,33.38,45.68,59.84,"37,930","50,990","69,430","95,020","124,480",NaN,NaN
12,15-1140,Database and Systems Administrators and Networ...,broad,629020,0.7,45.09,"93,780",0.2,25.15,32.29,42.79,56.16,70.09,"52,300","67,160","89,000","116,820","145,790",NaN,NaN
13,15-1141,Database Administrators,detailed,110090,1.0,44.25,"92,030",0.3,24.20,31.83,43.31,55.80,66.50,"50,340","66,200","90,070","116,060","138,320",NaN,NaN
14,15-1142,Network and Computer Systems Administrators,detailed,366250,0.8,41.86,"87,070",0.3,24.51,30.78,39.45,50.47,62.85,"50,990","64,010","82,050","104,970","130,720",NaN,NaN
15,15-1143,Computer Network Architects,detailed,152670,1.6,53.43,"111,130",0.6,29.00,39.40,52.41,66.26,78.98,"60,310","81,960","109,020","137,820","164,280",NaN,NaN
16,15-1150,Computer Support Specialists,broad,812060,0.8,27.86,"57,950",0.3,15.56,19.69,25.70,33.84,44.30,"32,350","40,950","53,470","70,380","92,150",NaN,NaN
17,15-1151,Computer User Support Specialists,detailed,630700,0.8,26.46,"55,050",0.4,15.01,18.90,24.51,31.56,40.63,"31,220","39,310","50,980","65,640","84,510",NaN,NaN
18,15-1152,Computer Network Support Specialists,detailed,181360,1.4,32.72,"68,050",0.5,18.40,23.16,30.18,39.56,50.85,"38,270","48,160","62,770","82,290","105,770",NaN,NaN
19,15-1190,Miscellaneous Computer Occupations,broad,381380,0.9,44.88,"93,350",0.4,22.77,31.93,43.40,56.28,69.62,"47,350","66,410","90,270","117,070","144,820",NaN,NaN
20,15-1199,"Computer Occupations, All Other",detailed,381380,0.9,44.88,"93,350",0.4,22.77,31.93,43.40,56.28,69.62,"47,350","66,410","90,270","117,070","144,820",NaN,NaN
21,15-2000,Mathematical Science Occupations,minor,169480,1.5,44.63,"92,830",0.4,23.64,30.94,41.68,55.09,70.09,"49,180","64,360","86,700","114,590","145,790",NaN,NaN
22,15-2010,Actuaries,broad,20760,4.4,55.89,"116,250",1.2,29.40,36.88,49.46,68.15,89.47,"61,140","76,720","102,880","141,760","186,110",NaN,NaN
23,15-2011,Actuaries,detailed,20760,4.4,55.89,"116,250",1.2,29.40,36.88,49.46,68.15,89.47,"61,140","76,720","102,880","141,760","186,110",NaN,NaN
24,15-2020,Mathematicians,broad,2580,5.6,50.42,"104,870",1.7,27.48,35.33,48.99,60.61,77.19,"57,150","73,490","101,900","126,070","160,550",NaN,NaN
25,15-2021,Mathematicians,detailed,2580,5.6,50.42,"104,870",1.7,27.48,35.33,48.99,60.61,77.19,"57,150","73,490","101,900","126,070","160,550",NaN,NaN
26,15-2030,Operations Research Analysts,broad,104200,1.8,42.48,"88,350",0.5,22.50,29.46,40.09,52.73,65.51,"46,810","61,280","83,390","109,670","136,250",NaN,NaN
27,15-2031,Operations Research Analysts,detailed,104200,1.8,42.48,"88,350",0.5,22.50,29.46,40.09,52.73,65.51,"46,810","61,280","83,390","109,670","136,250",NaN,NaN
28,15-2040,Statisticians,broad,39920,2.0,44.52,"92,600",0.7,25.48,32.43,42.20,54.65,67.00,"53,000","67,440","87,780","113,670","139,350",NaN,NaN
29,15-2041,Statisticians,detailed,39920,2.0,44.52,"92,600",0.7,25.48,32.43,42.20,54.65,67.00,"53,000","67,440","87,780","113,670","139,350",NaN,NaN
30,15-2090,Miscellaneous Mathematical Science Occupations,detailed,2010,6.0,34.80,"72,390",3.2,14.65,18.06,27.50,42.80,71.00,"30,460","37,570","57,190","89,030","147,670",NaN,NaN
31,15-2090,Miscellaneous Mathematical Science Occupations,broad,2010,6.0,34.80,"72,390",3.2,14.65,18.06,27.50,42.80,71.00,"30,460","37,570","57,190","89,030","147,670",NaN,NaN

In [ ]:
#organize the national data to plot 
nation_major_df.sort_values("TOT_EMP", ascending=False)

In [ ]:
nation_major_df.head()

In [ ]:
# states_df.head()

states_major_df = states_df.loc[states_df["OCC_GROUP"] == "major", :].reset_index(drop="true")

states_major_df.sort_values("TOT_EMP")