In [1]:
# Dependencies and Setup

import pandas as pd
import numpy as np
import os
import csv

In [ ]:
#1 Read in 10 years of Occupation Statistics for Focus State - Texas
#last year reported is 2018, (2009 - 2018)
#Input Data from BLS (Buruer of Labor Statistics on Occupation Types, Employee Counts)\
#Read from csv file

#2  Combine all years data for analysis

years = np.arange(2009, 2019,1)
state_code = "TX"
years_df = pd.DataFrame()

for year in years:
    data_in = pd.read_csv(os.path.join("..","Resources", f"state_M{year}_dl.csv"))
  
    data_save = data_in.loc[(data_in["OCC_CODE"].str.contains("15-")) & (data_in["ST"] == state_code), 
                                      ["YEAR" , "AREA", "ST", "STATE", "OCC_CODE", 
                                       "OCC_TITLE", "OCC_GROUP", "TOT_EMP"]].reset_index(drop=True)
    data_save.loc[:, "YEAR"] = year
  
    years_df = years_df.append(data_save, ignore_index=True)

In [70]:
#3 Display Data for Cleaning

years_df.head(20)

,YEAR,AREA,ST,STATE,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP
0,2009,48,TX,Texas,15-0000,Computer and mathematical science occupations,major,265030
1,2009,48,TX,Texas,15-1011,"Computer and information scientists, research",NaN,1480
2,2009,48,TX,Texas,15-1021,Computer programmers,NaN,31820
3,2009,48,TX,Texas,15-1031,"Computer software engineers, applications",NaN,34260
4,2009,48,TX,Texas,15-1032,"Computer software engineers, systems software",NaN,35250
5,2009,48,TX,Texas,15-1041,Computer support specialists,NaN,45600
6,2009,48,TX,Texas,15-1051,Computer systems analysts,NaN,45550
7,2009,48,TX,Texas,15-1061,Database administrators,NaN,9700
8,2009,48,TX,Texas,15-1071,Network and computer systems administrators,NaN,29090
9,2009,48,TX,Texas,15-1081,Network systems and data communications analysts,NaN,15440
10,2009,48,TX,Texas,15-1099,"Computer specialists, all other",NaN,8410
11,2009,48,TX,Texas,15-2011,Actuaries,NaN,790
12,2009,48,TX,Texas,15-2021,Mathematicians,NaN,90
13,2009,48,TX,Texas,15-2031,Operations research analysts,NaN,6450
14,2009,48,TX,Texas,15-2041,Statisticians,NaN,1020
15,2009,48,TX,Texas,15-2099,"Mathematical scientists, all other",NaN,**
16,2010,48,TX,Texas,15-0000,Computer and Mathematical Occupations,major,"263,130"
17,2010,48,TX,Texas,15-1111,Computer and Information Research Scientists,NaN,"1,660"
18,2010,48,TX,Texas,15-1121,Computer Systems Analysts,NaN,"44,850"
19,2010,48,TX,Texas,15-1131,Computer Programmers,NaN,"27,620"

In [72]:
#4 Clean Data for field Total Employee count field for use

#convert null data represented by "**' to zeros

years_df.loc[years_df["TOT_EMP"] == '**', "TOT_EMP"] = "0"

#convert Total column to integer
years_df['TOT_EMP'] = years_df['TOT_EMP'].str.replace(',', '').astype(int)

#clean data
years_df["OCC_TITLE"] = years_df["OCC_TITLE"].str.replace("Occupations", "", case = False) 
years_df["OCC_TITLE"] = years_df["OCC_TITLE"].str.replace("cccupations", "", case = False)

In [78]:
#5 Display Data after Cleaning

years_df.head(20)

,YEAR,AREA,ST,STATE,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP
0,2009,48,TX,Texas,15-0000,Computer and mathematical science,major,265030
1,2009,48,TX,Texas,15-1011,"Computer and information scientists, research",NaN,1480
2,2009,48,TX,Texas,15-1021,Computer programmers,NaN,31820
3,2009,48,TX,Texas,15-1031,"Computer software engineers, applications",NaN,34260
4,2009,48,TX,Texas,15-1032,"Computer software engineers, systems software",NaN,35250
5,2009,48,TX,Texas,15-1041,Computer support specialists,NaN,45600
6,2009,48,TX,Texas,15-1051,Computer systems analysts,NaN,45550
7,2009,48,TX,Texas,15-1061,Database administrators,NaN,9700
8,2009,48,TX,Texas,15-1071,Network and computer systems administrators,NaN,29090
9,2009,48,TX,Texas,15-1081,Network systems and data communications analysts,NaN,15440
10,2009,48,TX,Texas,15-1099,"Computer specialists, all other",NaN,8410
11,2009,48,TX,Texas,15-2011,Actuaries,NaN,790
12,2009,48,TX,Texas,15-2021,Mathematicians,NaN,90
13,2009,48,TX,Texas,15-2031,Operations research analysts,NaN,6450
14,2009,48,TX,Texas,15-2041,Statisticians,NaN,1020
15,2009,48,TX,Texas,15-2099,"Mathematical scientists, all other",NaN,0
16,2010,48,TX,Texas,15-0000,Computer and Mathematical,major,263130
17,2010,48,TX,Texas,15-1111,Computer and Information Research Scientists,NaN,1660
18,2010,48,TX,Texas,15-1121,Computer Systems Analysts,NaN,44850
19,2010,48,TX,Texas,15-1131,Computer Programmers,NaN,27620

In [80]:
#6 Output File (CSV)
years_path = os.path.join("..","Resources","input_years_df.csv")

#Save cities data fram to csv file
years_df.to_csv (years_path, index = None, header=True)